<!DOCTYPE html>
<html>
<head>
    <title>Create Comment</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'landing_page' %}">Home</a></li>
                <li><a href="{% url 'topic_page' %}">Topics</a></li>
                {% if user.is_authenticated %}
                    <li>
                        <form method="post" action="{% url 'logout' %}" id="logout-form">
                            {% csrf_token %}
                            <a href="#" onclick="document.getElementById('logout-form').submit();">Logout</a>
                        </form>                            {% csrf_token %}
                            <button type="submit">Logout</button>
                        </form>
                    </li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <h1>Create Comment</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save</button>
        </form>
    </main>
    <footer>
        <p>&copy; 2025 Nuclear Knowledge JOC</p>
    </footer>
</body>
</html>