{% extends "base.html" %}
{% load static %}

{% block title %}Landing Page{% endblock %}

{% block content %}
<div class="masthead" style="background-image: url('{% static 'images/masthead_image_basic.webp' %}');" alt="Masthead Image of Nuclear Power Station">
    <h1>Welcome to Nuclear Knowledge</h1>
</div>
<div class="container mt-5">
    <div class="topic-cards">
        <div class="topic-card">
            <a href="{% url 'topic_page' 'nuclear_facilities' %}">
                <img src="{% static 'images/nuclear_sites_uk.jpg' %}" alt="Nuclear Facilities in the UK">
                <h3>Nuclear Facilities in the UK</h3>
            </a>
        </div>
        <div class="topic-card">
            <a href="{% url 'topic_page' 'nuclear_fuel_waste' %}">
                <img src="{% static 'images/nuclear_waste_parody.jpg' %}" alt="Parody of nuclear waste management with discarded radioactive drums">
                <h3>Manufacturing of Nuclear Fuel & Nuclear Waste Management</h3>
            </a>
        </div>
        <div class="topic-card">
            <a href="{% url 'topic_page' 'nuclear_defence' %}">
                <img src="{% static 'images/nuclear_defence_airplanes.webp' %}" alt="Nuclear Defence - aeroplane with nuclear missiles">
                <h3>Nuclear Defence</h3>
            </a>
        </div>
        <div class="topic-card">
            <a href="{% url 'topic_page' 'nuclear_power_space' %}">
                <img src="{% static 'images/mars_rover_perserverance.png' %}" alt="Nuclear Power in Space Exploration - Mars Rover Perserverance">
                <h3>Nuclear Power in Space Technology</h3>
            </a>
        </div>
        <div class="topic-card">
            <a href="{% url 'topic_page' 'fact_or_fiction' %}">
                <img src="{% static 'images/fact_or_fiction.jpg' %}" alt="The blue glow (of nuclear reactors) is factual, and the fictional the glow of 'comic book characters'">
                <h3>Fact or Fiction?</h3>
            </a>
        </div>
        <div class="topic-card">
            <a href="{% url 'topic_page' 'educational_resources' %}">
                <img src="{% static 'images/word_cloud.jpg' %}" alt="Educational Resources about Nuclear Issues word cloud">
                <h3>Educational Resources</h3>
            </a>
        </div>
    </div>
</div>
{% endblock %}