{% extends "base.html" %}
{% load static %}

{% block title %}Nuclear Facilities{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>UK Nuclear Facilities</h1>
    <div class="row">
        {% for topic in topics_with_likes %}
        <div class="col-sm-6 col-md-6 col-lg-4 mb-4">
            <div class="card topic-card h-100">
                <a href="{% url 'topic_detail' topic.slug %}" class="stretched-link"></a>
                {% if topic.image %}
                    <img src="{{ topic.image.url }}" class="card-img-top" alt="{{ topic.alt_description }}">
                {% else %}
                    <img src="{% static 'images/placeholder.png' %}" class="card-img-top" alt="Placeholder Image">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ topic.title }}</h5>
                    <p class="card-text">{{ topic.excerpt }}</p>
                    <p class="card-text"><small class="text-muted">By {{ topic.author }} on {{ topic.created_at }}</small></p>
                    <p class="card-text"><small class="text-muted">{{ topic.comments.count }} comments</small></p>
                    <p class="card-text" id="like-count-{{ topic.pk }}"><small class="text-muted">{{ topic.likes.count }} likes</small></p>
                    <a href="{% url 'topic_detail' topic.slug %}#add-comment" class="btn btn-primary">Add a Comment</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}