{% extends "base.html" %}
{% load static %}
{% load category_urls %}

{% block title %}{{ topic.title }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>{{ topic.title }}</h1>
    {% if topic.image %}
        <img src="{{ topic.image.url }}" alt="{{ topic.alt_description }}" class="img-fluid w-50">
    {% else %}
        <img src="{% static 'images/placeholder.png' %}" alt="Placeholder Image" class="img-fluid w-50">
    {% endif %}
    <p>{{ topic.content|safe }}</p>
    <p class="author-info"><strong>Created by {{ topic.author }} on {{ topic.created_at }}</strong></p>
    <div class="d-flex justify-content-start">
        <p class="mr-3 mb-0"><small>{{ topic.comments.count }} comments</small></p>
        <p class="card-text mb-0" id="like-count-{{ topic.pk }}"><small>{{ topic.likes.count }} likes</small></p>
    </div>

    {% if user.is_authenticated and user == topic.author %}
        <a href="{% url 'edit_topic' topic.slug %}" class="btn btn-warning mt-3">Edit Topic</a>
        {% if not topic.approved %}
            <a href="{% url 'request_approval' topic.slug %}" class="btn btn-success mt-3">Request Approval</a>
        {% endif %}
        <a href="{% url 'delete_topic' topic.slug %}" class="btn btn-danger mt-3">Delete Topic</a>
    {% endif %}

    <h5 id="add-comment">Add a Comment</h5>
    <form method="post" class="mb-4" id="comment-form">
        {% csrf_token %}
        {{ form.body }}
        <input type="hidden" name="parent" value="">
        <div>
            <button type="submit" class="btn btn-primary add-comment-btn">Add Comment</button>
            <a href="{% category_url topic.category %}" class="btn btn-secondary return-category-btn">Return to {{ topic.get_category_display }}</a>
            <a href="{% url 'landing_page' %}" class="btn btn-secondary return-home-btn">Return Home</a>
        </div>
    </form>
    <h3>Comments</h3>
    <ul class="comment-list list-unstyled">
        {% for comment in comments %}
        <li class="comment mb-3">
            <p>{{ comment.body|safe }}</p>
            <p>    - Written by <strong>{{ comment.author.username }}</strong> on <strong>{{ comment.created_at }}</strong></p>
            <div class="comment-buttons"> 
                <button class="comment-button reply reply-button" data-comment-id="{{ comment.pk }}">Reply</button>
                {% if comment.author == user %}
                    <a href="{% url 'edit_comment' comment.pk %}" class="comment-button edit">Edit</a>
                    <form method="post" action="{% url 'delete_comment' comment.pk %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="comment-button delete">Delete</button>
                    </form>
                {% endif %} 
            </div>
            <ul class="reply-list list-unstyled ml-4">
                {% for reply in comment.ordered_replies %}
                <li class="reply mb-2">
                    <p>{{ reply.body|safe }}</p>
                    <p><em>       - Reply from {{ reply.author.username }} on {{ reply.created_at }}</em></p>
                    <div class="comment-buttons">
                        {% if reply.author == user %}
                            <a href="{% url 'edit_comment' reply.pk %}" class="comment-button edit">Edit</a>
                            <form method="post" action="{% url 'delete_comment' reply.pk %}" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="comment-button delete">Delete</button>
                            </form>
                        {% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
    const replyButtons = document.querySelectorAll('.reply-button');
    replyButtons.forEach(button => {
        button.addEventListener('click', function(event) {
            event.preventDefault();
            const commentId = this.getAttribute('data-comment-id');
            const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

            // Remove any existing reply forms
            const existingReplyForm = document.querySelector('.reply-form');
            if (existingReplyForm) {
                existingReplyForm.remove();
            }

            // Create a new reply form
            const replyForm = document.createElement('form');
            replyForm.method = 'post';
            replyForm.classList.add('reply-form');
            replyForm.innerHTML = `
                <input type="hidden" name="csrfmiddlewaretoken" value="${csrfToken}">
                <input type="hidden" name="parent" value="${commentId}">
                <textarea name="body" class="form-control" rows="3" required></textarea>
                <button type="submit" class="btn btn-primary mt-2 comment-button">Reply</button>
                <button type="button" class="btn btn-secondary mt-2 comment-button cancel-reply-btn">Cancel</button>
            `;
            this.parentElement.appendChild(replyForm);

            // Add event listener for Enter/Return key
            replyForm.querySelector('textarea').addEventListener('keydown', function(event) {
                if (event.key === 'Enter' && !event.shiftKey) {
                    event.preventDefault();
                    replyForm.submit();
                }
            });

            // Add event listener for Cancel button
            replyForm.querySelector('.cancel-reply-btn').addEventListener('click', function() {
                replyForm.remove();
            });
        });
    });
});
</script>
{% endblock %}