<!DOCTYPE html>
<html lang="en">
<head>
    <title>Topic Page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'landing_page' %}">Home</a></li>
                <li><a href="{% url 'topic_page' %}">Topics</a></li>
                {% if user.is_authenticated %}
                    <li>
                        <form method="post" action="{% url 'logout' %}" id="logout-form">
                            {% csrf_token %}
                            <a href="#" onclick="document.getElementById('logout-form').submit();">Logout</a>
                        </form>
                    </li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>        
    </header>
    <main class="container-fluid mt-4">
        <h1 class="mb-4">Topic 1</h1>
        <div class="row">
            <div class="col-12 mt-3 left">
                <div class="row">
                    {% for topic in topics %}
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="card-title">{{ topic.title }}</h5>
                                <p class="card-text">{{ topic.excerpt|safe }}</p>
                                <a href="{% url 'topic_detail' topic.pk %}" class="btn btn-primary">Read More</a>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p>&copy; 2025 Nuclear Knowledge JOC</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>