{% extends "base.html" %}
{% load static %}

{% block title %}Topic Page{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for item in topics_with_likes %}
                <div class="col-sm-6 col-md-6 col-lg-4 mb-4">
                    <div class="card h-100">
                        {% if item.topic.image %}
                            <img src="{{ item.topic.image.url }}" class="card-img-top" alt="{{ item.topic.alt_description }}">
                        {% else %}
                            <img src="{% static 'images/placeholder.png' %}" class="card-img-top" alt="Placeholder Image">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ item.topic.title }}</h5>
                            <p class="card-text">{{ item.topic.excerpt }}</p>
                            <p class="card-text"><small class="text-muted">By {{ item.topic.author }} on {{ item.topic.created_at }}</small></p>
                            <p class="card-text"><small class="text-muted">{{ item.topic.comments.count }} comments</small></p>
                            <p class="card-text" id="like-count-{{ item.topic.pk }}"><small class="text-muted">{{ item.like_count }} likes</small></p>
                                <button class="btn btn-outline-primary like-button" data-topic-id="{{ item.topic.pk }}">
                                    <i class="fas fa-thumbs-up"></i>
                                    {% if user in item.topic.likes.all %}
                                        Unlike
                                    {% else %}
                                        Like
                                    {% endif %}
                                </button>
                                <a href="{% url 'topic_detail' item.topic.pk %}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 and not forloop.last %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}