{% extends "base.html" %}
{% load static %}

{% block title %}{{ topic.title }}{% endblock %}

{% block content %}
<h1>{{ topic.title }}</h1>
{% if topic.image %}
    <img src="{{ topic.image.url }}" alt="{{ topic.alt_description }}" class="img-fluid w-50">
{% else %}
    <img src="{% static 'images/placeholder.png' %}" alt="Placeholder Image" class="img-fluid w-50">
{% endif %}
<p>{{ topic.content|safe }}</p>
<p><small class="text-muted">By {{ topic.author }} on {{ topic.created_at }}</small></p>
<p><small class="text-muted">{{ topic.comments.count }} comments</small></p>
<p class="card-text" id="like-count-{{ topic.pk }}"><small class="text-muted">{{ like_count }} likes</small></p>
<div class="d-flex justify-content-start">
    <button class="btn btn-outline-primary like-button" data-topic-id="{{ topic.pk }}">
        <i class="fas fa-thumbs-up"></i>
        {% if user in topic.likes.all %}
            Unlike
        {% else %}
            Like
        {% endif %}
    </button>
    <a href="{% url 'topic_detail' topic.pk %}" class="btn btn-primary ml-2">Read More</a>
</div>
<h3>Comments</h3>
<ul class="comment-list">
    {% for comment in comments %}
    <li class="comment">
        <p>{{ comment.body|safe }}</p>
        <p>By {{ comment.author.username }} on {{ comment.created_at }}</p>
        {% if comment.author == user %}
            <a href="{% url 'edit_comment' comment.pk %}" class="comment-button edit">Edit</a>
            <form method="post" action="{% url 'delete_comment' comment.pk %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="comment-button delete">Delete</button>
            </form>
        {% endif %}
        <button class="comment-button reply reply-button" data-comment-id="{{ comment.pk }}">Reply</button>
        <ul class="reply-list">
            {% for reply in comment.replies.all %}
            <li class="reply">
                <p>{{ reply.body|safe }}</p>
                <p>By {{ reply.author.username }} on {{ reply.created_at }}</p>
                {% if reply.author == user %}
                    <a href="{% url 'edit_comment' reply.pk %}" class="comment-button edit">Edit</a>
                    <form method="post" action="{% url 'delete_comment' reply.pk %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="comment-button delete">Delete</button>
                    </form>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
<h5>Add a Comment</h5>
<form method="post" class="mb-4">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Add Comment</button>
    <a href="{% url 'topic_page' %}" class="btn btn-secondary">Return to Topics</a>
</form>
{% endblock %}