{% extends "base.html" %}
{% load static %}
{% load category_urls %}

{% block title %}{{ topic.title }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>{{ topic.title }}</h1>
    {% if topic.image %}
        <img src="{{ topic.image.url }}" alt="{{ topic.alt_description }}" class="img-fluid w-50">
    {% else %}
        <img src="{% static 'images/placeholder.png' %}" alt="Placeholder Image" class="img-fluid w-50">
    {% endif %}
    <p>{{ topic.content|safe }}</p>
    <p><small class="text-muted">By {{ topic.author }} on {{ topic.created_at }}</small></p>
    <div class="d-flex justify-content-start">
        <p class="mr-3 mb-0"><small>{{ topic.comments.count }} comments</small></p>
        <p class="card-text mb-0" id="like-count-{{ topic.pk }}"><small>{{ like_count }} likes</small></p>
    </div>
    <h5 id="add-comment">Add a Comment</h5>
    <form method="post" class="mb-4">
        {% csrf_token %}
        {{ form.body }}
        <div>
            <button type="submit" class="btn btn-primary">Add Comment</button>
            <a href="{% category_url topic.category %}" class="btn btn-secondary">Return to {{ topic.get_category_display }}</a>
            <a href="{% url 'landing_page' %}" class="btn btn-secondary">Return Home</a>
        </div>
    </form>
    <h3>Comments</h3>
    <ul class="comment-list list-unstyled">
        {% for comment in comments %}
        <li class="comment mb-3">
            <p>{{ comment.body|safe }}</p>
            <p>By {{ comment.author.username }} on {{ comment.created_at }}</p>
            {% if comment.author == user %}
                <div class="comment-buttons">            
                    <a href="{% url 'edit_comment' comment.pk %}" class="comment-button edit">Edit</a>
                    <form method="post" action="{% url 'delete_comment' comment.pk %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="comment-button delete">Delete</button>
                    </form>
                    <button class="comment-button reply reply-button" data-comment-id="{{ comment.pk }}">Reply</button>
                </div>
            {% endif %}
            <ul class="reply-list list-unstyled ml-4">
                {% for reply in comment.ordered_replies %}
                <li class="reply mb-2">
                    <p>{{ reply.body|safe }}</p>
                    <p>By {{ reply.author.username }} on {{ reply.created_at }}</p>
                    {% if reply.author == user %}
                        <div class="comment-buttons">
                            <a href="{% url 'edit_comment' reply.pk %}" class="comment-button edit">Edit</a>
                            <form method="post" action="{% url 'delete_comment' reply.pk %}" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="comment-button delete">Delete</button>
                            </form>
                        </div>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}