body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

.d-flex.justify-content-start .btn {
    margin-right: 10px;
}

.comment-list {
    list-style-type: none;
    padding-left: 0;
}

.comment {
    margin-bottom: 20px;
}

.reply-list {
    list-style-type: none;
    padding-left: 40px; /* Indent replies */
}

.reply {
    margin-bottom: 10px;
}

